HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/data/db.mv.db
/data/db.trace.db
/data/db?options=DB_CLOSE_DELAY=-1.mv.db
/frontend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/frontend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/frontend/package-lock.json
